@{
    ViewBag.Title = "关于系统";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>梧州西江四桥运营期健康监测系统的基本内涵是通过对桥梁结构状态的监控与评估，为大桥在特殊气候、交通条件下或桥梁营运状况异常时触发预警信号，为桥梁维护、维修与管理决策提供依据和指导。健康监测系统主要功能是通过安装于桥梁结构上的固定式传感器采集的桥址环境参数、结构特性参数及桥梁静动态参数监测大桥的安全状态，分析桥梁结构的健康情况，评价大桥安全性、耐久性及适用性。
本系统包含实时监测预预警、数据查询与统计、健康状态评估及帐户管理四大模块。
</p>
