@model GxjtBHMS.Web.ViewModels.Home.AbnormalEventNumberViewListModels

    <table class="table-bordered table-responsive" style="table-layout:fixed;margin:auto">

        <tr class="text-center">
            <td width="150" >测试类型</td>
            <td width="150">异常事件数量</td>
        </tr>
        @foreach (var item in Model.AbnormalEventNumberViewModels)
        {

            @Html.Partial("GetAbnormalEventNumberListPartial", item);
        }
</table>


