@model GxjtBHMS.Web.ViewModels.Home.AbnormalEventNumberViewListModels

    <table class="table-bordered table-responsive" style="table-layout:fixed;margin:auto;height:30px">

        <tr class="text-center" style="height:30px">
            <td width="150" >测试类型</td>
            <td width="150">当日异常事件数</td>
        </tr>
        @foreach (var item in Model.AbnormalEventNumberViewModels)
        {

            @Html.Partial("GetAbnormalEventNumberListPartial", item);
        }
</table>


