@model GxjtBHMS.Web.ViewModels.Home.AbnormalEventNumberViewModel

        <tr class="text-center" style="height:30px" >
            <td width="150"> @Model.TestTypeName</td>
            <td width="150"> @Model.AbnormalEventNumber</td>
        </tr>

@Html.AntiForgeryToken()

