
<div>
     <label class="control-label" style="font-size:15px"> 桥梁当前安全预警状况：</label>
    <span id="bridgeStateText" style="font-size:15px;width:100px">桥梁安全状态</span>
    <span id="bridgeStateColor" class="circle"></span>
</div>
&nbsp;
<div >
    <label class="control-label" style="font-size:15px"> 桥梁当前索力预警状况：</label>
    <span id="testType1Text" style="font-size:15px;width:100px"></span>
    <span id="testType1Color" class="circle"></span>  
</div>
&nbsp;
<div>
    <label class="control-label" style="font-size:15px"> 桥梁当前位移预警状况：</label>
    <span id="testType2Text" style="font-size:15px;width:100px"></span>
    <span id="testType2Color" class="circle1"></span>
</div>
&nbsp;
<div>
    <label class="control-label" style="font-size:15px"> 桥梁当前风速预警状况：</label>
    <span id="testType3Text" style="font-size:15px;width:100px"></span>
    <span id="testType3Color" class="circle1"></span>
</div>
&nbsp;
<div >
    <label class="control-label" style="font-size:15px"> 桥梁当前温度预警状况：</label>
    <span id="testType4Text" style="font-size:15px;width:100px"></span>
    <span id="testType4Color" class="circle1"></span>
</div>

<script>
    $(function () {
        var numHub = $.connection.safetyPreWarningHub;
        numHub.client.safetyWarningStateRealTimePushDatas = function (models)
        {
            $("#bridgeStateText").html(models.SafetyPreWarningState);
            $("#bridgeStateColor").css("background-color", models.SafetyPreWarningColor);
            $.each(models.SafetyPreWarningStateData, function (i, model) {
                $("#" + "testType" + model.TestTypeId+"Text").html(model.SafetyPreWarningState);
                $("#" + "testType" + model.TestTypeId+"Color").css("background-color", model.SafetyPreWarningColor);
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.bridgeSafetyPreWarningStateDisplay();
        })
    });

</script>




@Styles.Render("~/content/hotspotcss")
@Scripts.Render("~/bundles/hotspot")