
<div>
     <label class="control-label" > 桥梁当前安全预警状况：</label>
    <span id="bridgeStateText" style="font-size:15px;width:100px">正常</span>
    <span id="bridgeStateColor" class="HomeCircle" style="background-color:darkgreen"></span>
</div>
&nbsp;
<div >
    <label class="control-label" style="text-indent:2em">当前索力预警状况：</label>
    <span id="testType1Text" style="font-size:15px;width:100px">正常</span>
    <span id="testType1Color" class="HomeCircle" style="background-color:darkgreen"></span>  
</div>
<div>
    <label class="control-label" style="text-indent:2em"> 当前位移预警状况：</label>
    <span id="testType2Text" style="font-size:15px;width:100px">正常</span>
    <span id="testType2Color" class="HomeCircle" style="background-color:darkgreen"></span>
</div>
<div>
    <label class="control-label" style="text-indent:2em"> 当前风速预警状况：</label>
    <span id="testType3Text" style="font-size:15px;width:100px">正常</span>
    <span id="testType3Color" class="HomeCircle" style="background-color:darkgreen"></span>
</div>
<div >
    <label class="control-label" style="text-indent:2em"> 当前温度预警状况：</label>
    <span id="testType4Text" style="font-size:15px;width:100px">正常</span>
    <span id="testType4Color" class="HomeCircle" style="background-color:darkgreen"></span>
</div>

<script>
    var numHub;
    $(function () {
        numHub = $.connection.safetyPreWarningHub;
        numHub.client.safetyWarningStateRealTimePushDatas = function (models)
        {
            $("#bridgeStateText").html(models.SafetyPreWarningState);
            $("#bridgeStateColor").css("background-color", models.SafetyPreWarningColor);
            $.each(models.SafetyPreWarningStateData, function (i, model) {
                $("#" + "testType" + model.TestTypeId+"Text").html(model.SafetyPreWarningState);
                $("#" + "testType" + model.TestTypeId+"Color").css("background-color", model.SafetyPreWarningColor);
            });
        }
        $.connection.hub.start().done(init)
    });

    function init() {
        numHub.server.getInitDatas().done(function (models) {
            $("#bridgeStateText").html(models.SafetyPreWarningState);
            $("#bridgeStateColor").css("background-color", models.SafetyPreWarningColor);
            $.each(models.SafetyPreWarningStateData, function (i, model) {
                $("#" + "testType" + model.TestTypeId + "Text").html(model.SafetyPreWarningState);
                $("#" + "testType" + model.TestTypeId + "Color").css("background-color", model.SafetyPreWarningColor);
            });
        });
    }


</script>




@Styles.Render("~/content/hotspotcss")
@Scripts.Render("~/bundles/hotspot")