@model GxjtBHMS.Web.ViewModels.Home.SafetyAssessmentSuggestionModelsViewModel
<div class="table-responsive">
    <div id="message"></div>
    <table class="table table-bordered">
        <tr class="text-center" >           
             <td colspan="2" >安全评估项目建议 </td>
            <td>评估建议</td>
        </tr>
        <tr class="text-center" >
            <td rowspan="3" style="vertical-align:middle">一级安全评估建议 </td>
            <td>变形评估建议</td>
            <td>@Html.TextBoxFor(m=>m.FirstSafetyAssessmentSuggestion_Displacement, new { @class = "text-center", @style = "border:hidden", @readonly = true })</td>
        </tr>
        <tr class="text-center" >         
            <td>应力评估建议</td>
            <td>@Html.TextBoxFor(m=>m.FirstSafetyAssessmentSuggestion_Stress, new { @class = "text-center", @style = "border:hidden" , @readonly = true })</td>
        </tr>
        <tr class="text-center" >
            <td>吊杆及系杆索力评估建议</td>
            <td>@Html.TextBoxFor(m=>m.FirstSafetyAssessmentSuggestion_CableForce, new { @class = "text-center", @style = "border:hidden", @readonly = true })</td>
        </tr>
    
    </table>
    <hr />
</div>

