@model GxjtBHMS.Web.ViewModels.ThresholdValueSetting.QueryPointsNumberConditonView
<div>
    <span>测点编号：</span> <span>@Html.TextBoxFor(m =>m.ContainsPointsNumber)</span>    
    <input type="button" id="btnQuery" value="查询" class="control-label" />
</div>
<div id="uniformSetting"></div>
