@model GxjtBHMS.Web.ViewModels.ThresholdValueSetting.ThresholdValueSettingView
<div class="table-responsive">
    <div id="message"></div>
    <table class="table table-striped">
        <thead>
            <tr class="text-center">
                <td>测点编号</td>
                <td>正黄色预警值</td>
                <td>正红色预警值</td>
                <td>负黄色预警值</td>
                <td>负红色预警值</td>
                <td>保存</td>
                <td>一键清除</td>
            </tr>
        </thead>
        @foreach (var item in Model.ThresholdValues)
        {
            @Html.Partial("StrainThresholdValuePartial", item)
        }
    </table>   
</div>

@*<script>
    $(function(){
        jqPaginatorSetting('#paginationNav',@Model.PaginatorModel.TotalPages,@Model.PaginatorModel.CurrentPageIndex);
    });
</script>*@

