@model GxjtBHMS.Web.ViewModels.ThresholdValueSetting.QueryPointsNumberConditonView
<div>
    <label class="control-label"> 测点编号：</label>
    @Html.TextBoxFor(m =>m.ContainsPointsNumber)    
    <input type="button" id="btnQuery" value="查询" class="btn btn-default col-md-offset-1"  />
</div>
@*<div id="uniformSetting"></div>*@
