@{
    ViewBag.Title = "测点布置及编号";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>测点布置及编号</strong></p>
</div>
<br />
<div>
    <p> 合理的选择系统监测项目是有效地对大型桥梁工作状态和安全性进行监测的前提，监测项目的确定应尽可能的反映桥梁结构目前的工作状态。如果监测项目选择不合理，不仅达不到有效监测桥梁工作状态的目的，反而造成人力物力的浪费。梧州西江四桥健康监测系统监测内容的确定首先根据桥梁的结构形式，针对四桥的双层桥面、中承式钢箱拱肋、超长系杆等特点，选择重点监测内容、合理的监测点。另外，考虑到为养护管理系统提供必要的信息、为养护、维修决策提供科学依据、做到预防性养护，适当增加辅助性的监测内容及合理的监测点。</p>
</div>

<ol>
    为了更好的区分各监测项目，将梧州西江四桥监测内容划分如下几项：
    <li>环境类监测：包括大气环境温湿度、桥址处风速风向监测、桥面交通状况以及桥下通航状况；</li>
    <li>应力类监测：主桥结构各关键部位的应力监测以及温度监测；</li>
    <li>振动类监测：桥梁的整体振动特性；</li>
    <li>索力类监测：关键吊杆索力监测、系杆索力监测；</li>
    <li>变形类监测：拱肋空间位置、桥面挠度、伸缩缝变形、过渡墩偏位；</li>
    <li>钢结构疲劳监测：关键节点的疲劳应力监测。</li>
</ol>

<img class="img-responsive center-block" src="~/Content/Images/桥型图.png" />

