
@{
    ViewBag.Title = "系统操作手册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>系统操作手册</strong></p>
</div>
<br />
