
@{
    ViewBag.Title = "系统操作手册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script>
        var userName = "@Session[WebConstants.UserNickNameKey].ToString()";
    </script>
    <script>
        $(function () {
            if (userName != "admin") {
                $("li.adminli").css("display", "none");
                $("input.adminInput").css("display", "none");
                $("td.admintd").css("display", "none");
            }
        })
    </script>
</head>
<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>系统操作手册</strong></p>
</div>

<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#RealTimeMonitoring">实时监测</a></li>
    <li><a href="#DataQuery">数据查询与统计</a></li>
    <li><a href="#SafetyPreWarning">安全预警与评估</a></li>
    <li><a href="#AccountManage">账户管理</a></li>
    <li class="adminli"><a href="#SystemManage">系统管理</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="RealTimeMonitoring">
        <ol>
            <li><p>实时监测功能包含：应变监测、位移监测、温度监测、湿度监测、风速风向监测、索力监测；</p></li>
            <li><p>实时监测数据颜色定义：绿色—安全，黄色—超过黄色阈值，红色—超过红色阈值；</p></li>
            <li><p>在实时监测立面图中点击相应的测试截面，可以查看截面相应的测点的实时监测数据。</p></li>
        </ol>
    </div>
    <div class="tab-pane" id="DataQuery">
        <ol>
            <li>
                <p>数据查询</p>
                <ul>
                    <li><p>数据查询功能可以查看每个测点的特征值数据，特征值数据按小时进行统计，统计量包括最大值、最小值和平均值，查询时间的最大范围为过去一年；</p></li>
                    <li>
                        <p>
                            通过下拉菜单选择测试类型、测试截面、测点编号（用户可多选，如不选则查询测点位置对应的所有测点数据）、开始时间和结束时间后，点击查询按钮，可获得相应查询条件所对应的结果曲线图；
                        </p>
                    </li>
                    <li><p>通过拖动鼠标可局部放大相应的曲线图，可通过点击图标右侧图例，隐藏或显示该测点的曲线；</p></li>
                    <li><p>当存在记录时，可通过点击数据下载按钮，下载相应查询条件的数据，文件格式为excel。</p></li>
                </ul>
            </li>
            <li>
                <p>对比查询</p>
                <ul>
                    <li><p>数据查询功能可以查看任意两个测点的特征值数据比较曲线，特征值数据按小时进行统计，统计量包括最大值、最小值和平均值，查询时间的最大范围为过去一年；</p></li>
                    <li>
                        <p>
                            通过下拉菜单选择测试类型、测试截面、测点编号（只能单选，且对比测点不能相同）、开始时间和结束时间后，点击查询按钮，可获得相应查询条件所对应的对比查询结果曲线图；
                        </p>
                    </li>
                    <li><p>通过拖动鼠标可局部放大相应的曲线图，可通过点击图标右侧图例，隐藏或显示该测点的曲线。</p></li>
                </ul>
            </li>
            <li>
                <p>预警数据管理</p>
                <ul>
                    <li><p>该功能可以查看历史预警数据，预警数据类型包括位移、索力、温度、湿度。查询时间的最大范围为过去一年；</p></li>
                    <li><p>通过下拉菜单选择测试类型、测试截面、测点编号（用户可多选，如不选则查询测点位置对应的所有测点数据）、开始时间和结束时间后，点击查询按钮，可获得相应查询条件对应的预警信息列表；</p></li>
                    <li><p>当存在记录时，可通过点击数据下载按钮，下载相应查询条件的数据，文件格式为excel。</p></li>
                </ul>
            </li>
            <li>
                <p>异常事件管理</p>
                <ul>
                    <li><p>该功能可以查看历史异常事件记录，异常事件记录包括传感器异常，数据超合理范围等。查询时间的最大范围为过去一年；</p></li>
                    <li><p>通过下拉菜单选择测试类型、测试截面、开始时间和结束时间后，点击查询按钮，可获得相应查询条件对应的异常事件信息列表；</p></li>
                    <li><p>当存在记录时，可通过点击全部数据下载或查询条件数据下载按钮，下载相应条件的数据，文件格式为excel。</p></li>
                </ul>
            </li>
        </ol>
    </div>

    <div class="tab-pane" id="SafetyPreWarning">
        <ol>
            <li>
                <p>安全预警</p>
                <ul>
                    <li><p>安全预警界面上实时显示的是当前桥梁预警状况，安全预警类型包括：位移、索力、温度、湿度；</p></li>
                    <li>
                        <p>
                            各预警类型的黄色报警数、红色报警数分别为上期一级安全评估报告至当前时间为止累计的预警次数；
                        </p>
                    </li>
                    <li><p>用户可以通过点击查看本期安全评估详情按钮，查看上期一级安全评估报告至当前时间为止的预警信息详情。</p></li>
                </ul>
            </li>
            <li>
                <p>人工巡检评估</p>
                <ul>
                    <li><p>人工巡检评估功能包括历年人工巡检评估报告查询（可按报告生成月份查询），下载及上传（仅管理员可以上传报告）。</p></li>

                </ul>
            </li>
            <li>
                <p>一级安全评估</p>
                <ul>
                    <li><p>一级安全评估为系统自动评定，正常情况下，系统每月自动进行一次评估，并生成1期评估报告，当出现红色预警时，系统也会自动触发一次一级安全评估，并生成1期安全评估报告；</p></li>
                    <li><p>用户可以查询（可按报告生成月份查询）和下载一级安全评估报告。</p></li>
                </ul>
            </li>
            <li>
                <p>二级安全评估</p>
                <ul>
                    <li><p>二级安全评估为离线专家评估，正常情况下，每年进行一次评估，并生成1期评估报告，当结构出现损伤，并达到二级安全评估条件时，系统将通过短信形式通知客户进行二级安全评估；</p></li>
                    <li><p>用户可以查询（可按报告生成月份查询），下载及上传（仅管理员可以上传报告）二级安全评估报告。</p></li>
                </ul>
            </li>
            <li>
                <p>专项评估</p>
                <ul>
                    <li><p>专项评估功能包括历年专项评估报告查询（可按报告生成月份查询），下载及上传（仅管理员可以上传报告）。</p></li>

                </ul>
            </li>
        </ol>
    </div>
    <div class="tab-pane" id="AccountManage">
        <ol>
            <li>
                <p>编辑账户</p>
                <ul>
                    <li><p>编辑账户功能主要作用为修改账户密码，用户可以通过输入初始密码（123456）和新密码，并确认提及即可；</p></li>
                </ul>
            </li>
            <li class="adminli">
                <p>用户注册</p>
                <ul>
                    <li><p>仅有管理员具备用户注册权限，其目的主要为：使管理员在必要时，提供账号给其他相关人员查看系统；</p></li>
                    <li><p>管理员通过点击用户注册，可自动生成普通用户，生成的用户名一般均为“user+序号”，初始密码为：“123456”。</p></li>
                </ul>
            </li>
            <li class="adminli">
                <p>用户管理</p>
                <ul>
                    <li><p>仅有管理员具备用户管理权限，其目的主要为：便于管理员管理普通用户；</p></li>
                    <li><p>用户管理功能包括：查询普通用户列表、改变普通账户状态以及重置普通用户密码；</p></li>
                </ul>
            </li>
        </ol>
    </div>
    <div class="tab-pane" id="SystemManage">
        <ol>
            <li>
                <p>监测数据预警值阈值设置</p>
                <ul>
                    <li><p>监测数据预警值阈值设置功能仅限管理员操作，其主要目的为设置各监测点的黄色、红色预警阈值，该阈值将用于本桥的安全预警以及安全评估；</p></li>
                    <li><p>本系统提供“按测点编号查询”和“按测点位置查询”两种查询功能，当管理员需具体设置某个点阈值时可选择“按测点编号查询”，其他情况可选择“按测点位置查询”；</p></li>
                    <li><p>查询结果将以表格形式展示，管理员可在各类阈值数据直接进行修改，修改后点击保存就可，亦可点击“一键清空”按钮，清除该测点所有阈值；</p></li>
                    <li><p>预警值需区分正负及大小。在正预警值区域只可输入正数，负预警值区域只可输入负数；黄色预警值的绝对值应小于红色预警值</p></li>
                </ul>
            </li>
            <li>
                <p>监测数据异常值阈值设置</p>
                <ul>
                    <li><p>监测数据异常值阈值设置功能仅限管理员操作，其主要目的为设置各监测点的上限和下限阈值，该上限和下限阈值将用于原始数据的筛选；</p></li>
                    <li><p>点击“监测数据异常值阈值设置”后，将直接以列表形式呈现各检测类型的上限和下限阈值，用户只需修改初始值后点击“保存”即可；</p></li>
                </ul>
            </li>
        </ol>
    </div>
</div>

<script>
    $(function () {
        $('#myTab a:first').tab('show');
    })
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
</script>


<br />
