@{
    ViewBag.Title = "系统功能简介";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="">
    <p class="lead text-center"><strong>系统功能简介</strong></p>
</div>

<ol>梧州西江四桥健康监测系统从功能模块可分为以下7个子系统：
    <li>传感器子系统</li>
    <li>数据采集子系统</li>
    <li>数据采集与传输子系统</li>
    <li>数据处理与控制子系统</li>
    <li>视频监控子系统</li>
    <li>桥梁管理及人工巡检子系统</li>
    <li>综合预警与结构安全评估子系统</li>
</ol>
<ol>
    梧州西江四桥健康监测系统从系统集成角度可分为以下11个子系统：
    <li>环境温湿度监测子系统</li>
    <li>风速风向监测子系统</li>
    <li>结构应变及温度监测子系统</li>
    <li>振动监测子系统</li>
    <li>索力监测子系统</li>
    <li>拱肋变形监测子系统</li>
    <li>主梁挠度监测子系统</li>
    <li>伸缩缝位移监测子系统</li>
    <li>过渡墩倾斜监测子系统</li>
    <li>钢结构疲劳监测子系统</li>
    <li>视频监控子系统</li>
</ol>

<ol>
    梧州西江四桥健康监测系统功能菜单：
    <li>系统介绍：介绍梧州西江四桥健康监测系统的概括以及功能；</li>
    <li>实时监测与预警：该功能可以显示各监测子系统中测点的监测值，如果监测值达到预警等级，系统会预警提示；</li>
    <li>数据查询与统计：该功能可以进行历史监测数据的查询以及对比，同时也可以进行异常数据的查询；</li>
    <li>健康状况与评估：该功能可以让用户输入和查询人工巡检的检测结果，可以查询健康监测的结果及评分，可以查询桥梁安全评估结果；</li>
    <li>账户管理：用户可通过该功能修改账户登录密码，系统管理员可以通过该功能实现账户的管理；</li>
    <li>系统管理：管理员可以通过该功能输入结构各测点的阀值。</li>
</ol>




