@{
    ViewBag.Title = "系统总体说明";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>系统总体说明</strong></p>
</div>
<br />
<div>
    <p> 西江四桥健康监测系统包括数据测量系统、数据管理与分析两大子系统。其中，数据测量系统由传感器子系统、数据采集与传输子系统有机地组成；数据管理与分析系统包括数据处理和控制子系统、桥梁管理子系统、综合评估和结构安全评估子系统。</p>

</div>   

<img class="img-responsive center-block" src="~/Content/Images/系统说明.png" />

<div>
    <p> 传感器系统将采集各类信号并传输到附近的工作站；工作站根据需要对各类信号进行解调和预处理，并通过传输系统将传感器的信号送到数据处理和控制系统；
数据处理和控制系统对数据进行二次预处理（数据的时域、频域和幅值域显示，频度计数等）、结果显示、存档和数据入库等；
综合评估和结构安全评估子系统对监测数据进行在线评估（如预警、初步评估等）及离线评估（如模态分析、数据融合、信息提取和挖掘、损伤识别、结构的安全性和耐久性评估）。另外设桥梁管理系统根据监测数据等辅助进行桥梁维护管理决策。</p>
</div> 

                                     
<ol>本系统具有如下特点：
    <li>具有长期、实时、同步、连续地进行数据采集的能力；</li>
    <li>具有强大的数据传输、处理、显示、存档和远程共享能力；</li>
    <li>具有自检、校准、控制功能；</li>
    <li>具有正常状态评估和突发事件况评估的能力；</li>
    <li>具有良好的可更换性和升级能力。</li>
</ol>


