
<div class="hotspotContainer" id="hotspotContainer1">
    <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop1">
        <div class="popover-inner">
            <h3 class="popover-title">上层吊杆实时显示</h3>
            <div class="img-container">
                <img src="~/Content/Images/混凝土拱肋应变断面图.png" class="section img-responsive carousel-inner img-rounded" />
                <span id="S-CA-AL1" class="CAAL1">A1</span>
                <span id="S-CA-AL2" class="CAAL2">A2</span>
                <span id="S-CA-AL3" class="CAAL3">A3</span>
                <span id="S-CA-AL4" class="CAAL4">A4</span>
                <span id="S-CA-AR1" class="CAAL5">A5</span>
                <span id="S-CA-AR2" class="CAAL6">A6</span>
                <span id="S-CA-AR3" class="CAAL7">A7</span>
                <span id="S-CA-AR4" class="CAAL8">A8</span>
            </div>
        </div>
    </div>

    <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop2">
        <div class="popover-inner">
            <h3 class="popover-title">下层吊杆实时显示</h3>
            <div class="img-container">
                <img src="~/Content/Images/混凝土拱肋应变断面图.png" class="section img-responsive carousel-inner  img-rounded" />
                <span id="S-CA-BL1" class="CAAL1">S-CA-BL1</span>
                <span id="S-CA-BL2" class="CAAL2">S-CA-BL2</span>
                <span id="S-CA-BL3" class="CAAL3">S-CA-BL3</span>
                <span id="S-CA-BL4" class="CAAL4">S-CA-BL4</span>
                <span id="S-CA-BR1" class="CAAL5">S-CA-BR1</span>
                <span id="S-CA-BR2" class="CAAL6">S-CA-BR2</span>
                <span id="S-CA-BR3" class="CAAL7">S-CA-BR3</span>
                <span id="S-CA-BR4" class="CAAL8">S-CA-BR4</span>
            </div>
        </div>
    </div>

    <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop2">
        <div class="popover-inner">
            <h3 class="popover-title">柔性系杆实时显示</h3>
            <div class="img-container">
                <img src="~/Content/Images/混凝土拱肋应变断面图.png" class="section img-responsive carousel-inner  img-rounded" />
                <span id="S-CA-BL1" class="CAAL1">S-CA-BL1</span>
                <span id="S-CA-BL2" class="CAAL2">S-CA-BL2</span>
                <span id="S-CA-BL3" class="CAAL3">S-CA-BL3</span>
                <span id="S-CA-BL4" class="CAAL4">S-CA-BL4</span>
                <span id="S-CA-BR1" class="CAAL5">S-CA-BR1</span>
                <span id="S-CA-BR2" class="CAAL6">S-CA-BR2</span>
                <span id="S-CA-BR3" class="CAAL7">S-CA-BR3</span>
                <span id="S-CA-BR4" class="CAAL8">S-CA-BR4</span>
            </div>
        </div>
    </div>


    <span class="info-icon info-iconCF1" id="section0" data-target="pop1"> 上层吊杆 </span>
    <span class="info-icon info-iconCF2 " id="section1" data-target="pop2"> 下层吊杆 </span>
    <span class="info-icon info-iconCF3 " id="section1" data-target="pop3"> 柔性系杆 </span>

    <img src="~/Content/Images/混凝土拱肋应变立面图.png" alt="" class="largeimage" id="image2" />
</div>


<script>
    $(function () {
        var numHub = $.connection.cableForceDatasRealTimeMonitoringHub;
        numHub.client.realTimeDisplayDatas = function (models) {
            $.each(models, function (i, model) {
                $.each(model.WarningRealTimeData, function (j, cableForceData) {
                    $("#" + cableForceData.PointsNumber).html(cableForceData.PointsNumber + ":&nbsp&nbsp" + cableForceData.CurrentData + "KN");
                    $("#" + cableForceData.PointsNumber).css("color", cableForceData.WarningColor);
                });
                $("#" + "section" + i).css("color", model.SectionWarningColor);
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.displayWarningCableForceDatas(5);
        })
    });
</script>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Styles.Render("~/content/hotspotcss")



