<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>索力实时监测</strong></p>
</div>
<br />


<div class="hotspotContainer" id="hotspotContainer1">
    <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop1">
        <div class="popover-inner">
            <h3 class="popover-title">上层吊杆实时显示</h3>
            <div class="img-container">
                <img src="~/Content/Images/上层桥面吊杆监测平面图.png" class="section img-responsive carousel-inner img-rounded" />
                <span id="CF-UPH-L1" class="CFUPHL1">CF-UPH-L1</span>
                <span id="CF-UPH-L2" class="CFUPHL2">CF-UPH-L2</span>
                <span id="CF-UPH-L3" class="CFUPHL3">CF-UPH-L3</span>
                <span id="CF-UPH-L4" class="CFUPHL4">CF-UPH-L4</span>
                <span id="CF-UPH-L5" class="CFUPHL5">CF-UPH-L5</span>
                <span id="CF-UPH-L6" class="CFUPHL6">CF-UPH-L6</span>
                <span id="CF-UPH-L7" class="CFUPHL7">CF-UPH-L7</span>
                <span id="CF-UPH-L8" class="CFUPHL8">CF-UPH-L8</span>
                <span id="CF-UPH-L9" class="CFUPHL9">CF-UPH-L9</span>
                <span id="CF-UPH-R1" class="CFUPHR1">CF-UPH-R1</span>
                <span id="CF-UPH-R2" class="CFUPHR2">CF-UPH-R2</span>
                <span id="CF-UPH-R3" class="CFUPHR3">CF-UPH-R3</span>
                <span id="CF-UPH-R4" class="CFUPHR4">CF-UPH-R4</span>
                <span id="CF-UPH-R5" class="CFUPHR5">CF-UPH-R5</span>
                <span id="CF-UPH-R6" class="CFUPHR6">CF-UPH-R6</span>
                <span id="CF-UPH-R7" class="CFUPHR7">CF-UPH-R7</span>
                <span id="CF-UPH-R8" class="CFUPHR8">CF-UPH-R8</span>
                <span id="CF-UPH-R9" class="CFUPHR9">CF-UPH-R9</span>
            </div>
        </div>
    </div>

    <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop2">
        <div class="popover-inner">
            <h3 class="popover-title">下层吊杆实时显示</h3>
            <div class="img-container">
                <img src="~/Content/Images/下层桥面吊杆监测平面图.png" class="section img-responsive carousel-inner  img-rounded" />
                <span id="CF-UNH-L1" class="CFUNHL1">CF-UNH-L1</span>
                <span id="CF-UNH-L2" class="CFUNHL2">CF-UNH-L2</span>
                <span id="CF-UNH-L3" class="CFUNHL3">CF-UNH-L3</span>
                <span id="CF-UNH-L4" class="CFUNHL4">CF-UNH-L4</span>
                <span id="CF-UNH-R1" class="CFUNHR1">CF-UNH-R1</span>
                <span id="CF-UNH-R2" class="CFUNHR2">CF-UNH-R2</span>
                <span id="CF-UNH-R3" class="CFUNHR3">CF-UNH-R3</span>
                <span id="CF-UNH-R4" class="CFUNHR4">CF-UNH-R4</span>
            </div>
        </div>
    </div>

    <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop3">
        <div class="popover-inner">
            <h3 class="popover-title">柔性系杆实时显示</h3>
            <div class="img-container">
                <img src="~/Content/Images/系杆断面图.png" class="section img-responsive carousel-inner  img-rounded" />
                <span id="CF-FTB-L1" class="CFFTBL1">CF-FTB-L1</span>
                <span id="CF-FTB-L2" class="CFFTBL2">CF-FTB-L2</span>
                <span id="CF-FTB-L3" class="CFFTBL3">CF-FTB-L3</span>
                <span id="CF-FTB-L4" class="CFFTBL4">CF-FTB-L4</span>
                <span id="CF-FTB-L5" class="CFFTBL5">CF-FTB-L5</span>
                <span id="CF-FTB-L6" class="CFFTBL6">CF-FTB-L6</span>
                <span id="CF-FTB-R1" class="CFFTBR1">CF-FTB-R1</span>
                <span id="CF-FTB-R2" class="CFFTBR2">CF-FTB-R2</span>
                <span id="CF-FTB-R3" class="CFFTBR3">CF-FTB-R3</span>
                <span id="CF-FTB-R4" class="CFFTBR4">CF-FTB-R4</span>
                <span id="CF-FTB-R5" class="CFFTBR5">CF-FTB-R5</span>
                <span id="CF-FTB-R6" class="CFFTBR6">CF-FTB-R6</span>
            </div>
        </div>
    </div>


    <span class="info-icon info-iconCF1-1" id="section0" data-target="pop1"> 上层吊杆 </span>
    <span class="info-icon info-iconCF2 " id="section1" data-target="pop2"> 下层吊杆 </span>
    <span class="info-icon info-iconCF3 " id="section2" data-target="pop3"> 柔性系杆 </span>

    <img src="~/Content/Images/索力监测立面图.png" alt="" class="largeimage" id="image2" />
</div>

<script type="text/javascript">
    $(document).ready(function ($) {
        var _pop2 = $('#hotspotContainer1').hotSpot({
            slideshow: false,
            triggerBy: 'click',
            autoHide: false
        });
        $('#image2').on('click', function (event) {
            _pop2.hideCurrentPop();
        });

    });
</script>


<script>
    $(function () {
        var numHub = $.connection.cableForceDatasRealTimeMonitoringHub;
        numHub.client.realTimeDisplayDatas = function (models) {
            $.each(models, function (i, model) {
                $.each(model.WarningRealTimeData, function (j, cableForceData) {
                    $("#" + cableForceData.PointsNumber).html(cableForceData.PointsNumber + ":<br/>" + cableForceData.CurrentData + "KN");
                    $("#" + cableForceData.PointsNumber).css("color", cableForceData.WarningColor);
                });
                $("#" + "section" + i).css("color", model.SectionWarningColor);
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.displayWarningCableForceDatas(5);
        })
    });
</script>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Styles.Render("~/content/hotspotcss")
@Scripts.Render("~/bundles/hotspot")



