
@{
    ViewBag.Title = "CableForceDatasRealTimeMonitoring";
}


<div class="img-container">
    <img src="~/Content/Images/吊杆.png" class="section img-responsive carousel-inner img-rounded" />
    <span id="CF-UPH-L1" class="CAS1">CF-UPH-L1</span>
    <span id="CF-UPH-L2" class="CAS2">CF-UPH-L2</span>
    <span id="CF-UPH-L3" class="CAS3">CF-UPH-L3</span>
    <span id="CF-UPH-L4" class="CAS4">CF-UPH-L4</span>
    <span id="CF-UPH-L5" class="CAS5">CF-UPH-L5</span>
    <span id="CF-UPH-L6" class="CAS2">CF-UPH-L6</span>
    <span id="CF-UPH-L7" class="CAS3">CF-UPH-L7</span>
    <span id="CF-UPH-L8" class="CAS4">CF-UPH-L8</span>
    <span id="CF-UPH-L9" class="CAS5">CF-UPH-L9</span>
    <span id="CF-UPH-R1" class="CAS1">CF-UPH-R1</span>
    <span id="CF-UPH-R2" class="CAS2">CF-UPH-R2</span>
    <span id="CF-UPH-R3" class="CAS3">CF-UPH-R3</span>
    <span id="CF-UPH-R4" class="CAS4">CF-UPH-R4</span>
    <span id="CF-UPH-R5" class="CAS5">CF-UPH-R5</span>
    <span id="CF-UPH-R6" class="CAS2">CF-UPH-R6</span>
    <span id="CF-UPH-R7" class="CAS3">CF-UPH-R7</span>
    <span id="CF-UPH-R8" class="CAS4">CF-UPH-R8</span>
    <span id="CF-UPH-R9" class="CAS5">CF-UPH-R9</span>
    
</div>


<script>
    $(function () {
        var numHub = $.connection.cableForceDatasRealTimeMonitoringHub;
        numHub.client.realTimeDisplayDatas = function (models) {
            $.each(models, function (i, model) {
                $.each(model.WarningRealTimeData, function (j, cableForceData) {
                    $("#" + cableForceData.PointsNumber).html(cableForceData.PointsNumber + ":&nbsp&nbsp" + cableForceData.CurrentData + "KN");
                    $("#" + cableForceData.PointsNumber).css("color", cableForceData.WarningColor);
                });
                $("#" + "section" + i).css("color", model.SectionWarningColor);
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.displayWarningCableForceDatas(5);
        })
    });
</script>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Styles.Render("~/content/hotspotcss")



