<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>位移实时监测</strong></p>
</div>
<br />

@{
    ViewBag.Title = "DisplacementDatasRealTimeMonitoring";
}

<div class="img-container">
    <img src="~/Content/Images/位移实时监测.png" class="section img-responsive carousel-inner img-rounded" />
    <span id="D-SA-1x" class="DSA1X">T-E-1</span>
    <span id="D-SA-2x" class="DSA2X">T-SA-L1</span>
    <span id="D-SA-3x" class="DSA3X">T-SA-L2</span>
    <span id="D-SA-4x" class="DSA4X">T-SA-L3</span>
    <span id="D-SA-1y" class="DSA1Y">T-SA-L4</span>
    <span id="D-SA-2y" class="DSA2Y">T-SA-R1</span>
    <span id="D-SA-3y" class="DSA3Y">T-SA-R2</span>
    <span id="D-SA-4y" class="DSA4Y">T-SA-R3</span>
    <span id="D-SA-1z" class="DSA1Z">T-SA-R4</span>
    <span id="D-SA-2z" class="DSA2Z">T-E-1</span>
    <span id="D-SA-3z" class="DSA3Z">T-SA-L1</span>
    <span id="D-SA-4z" class="DSA4Z">T-SA-L2</span>
    <span id="D-BD-1" class="DBD1">T-SA-L3</span>
    <span id="D-BD-2" class="DBD2">T-SA-L4</span>
    <span id="D-BD-3" class="DBD3">T-SA-R1</span>
    <span id="D-BD-4" class="DBD4">T-SA-R2</span>
    <span id="D-BD-5" class="DBD5">T-SA-R3</span>
    <span id="D-BD-6" class="DBD6">T-SA-R4</span>
    <span id="D-SP-1" class="DSP1">T-SA-R4</span>
    <span id="D-SP-2" class="DSP2">T-SA-R4</span>
    <span id="D-SP-3" class="DSP3">T-SA-R4</span>
    <span id="D-SP-4" class="DSP4">T-SA-R4</span>
    <span id="D-E-1" class="DE1">T-SA-R4</span>
    <span id="D-E-2" class="DE2">T-SA-R4</span>
    <span id="D-E-3" class="DE3">T-SA-R4</span>
    <span id="D-E-4" class="DE4">T-SA-R4</span>
</div>


<script type="text/javascript">
    $(document).ready(function ($) {
        var _pop2 = $('#hotspotContainer1').hotSpot({
            slideshow: false,
            triggerBy: 'click',
            autoHide: false
        });
        $('#image2').on('click', function (event) {
            _pop2.hideCurrentPop();
        });

    });
</script>

<script>
    $(function () {
        var numHub = $.connection.displacementDatasRealTimeMonitoringHub;
        numHub.client.realTimeDisplayDatas = function (models) {
            $.each(models, function (i, model) {
                $.each(model.WarningRealTimeData, function (j, DisplacementData) {
                    $("#" + DisplacementData.PointsNumber).html(DisplacementData.PointsNumber + ":&nbsp&nbsp" + DisplacementData.CurrentData);
                    $("#" + DisplacementData.PointsNumber).css("color", DisplacementData.WarningColor);
                });
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.displayWarningDisplacementDatas(4);
        })
    });
</script>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Styles.Render("~/content/hotspotcss")
@Scripts.Render("~/bundles/hotspot")




