<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>位移实时监测</strong></p>
</div>
<br />

@{
    ViewBag.Title = "DisplacementDatasRealTimeMonitoring";
}

<div style="height:600px">
    <div class="img-container">
        <img src="~/Content/Images/位移实时监测2.png" class="section img-responsive carousel-inner img-rounded" />
        <span class="DSA1">
            <span id="D-SA-1x">D-SA-1x</span><br />
            <span id="D-SA-1y">D-SA-1y</span><br />
            <span id="D-SA-1z">D-SA-1z</span>
        </span>

        <span class="DSA2">
            <span id="D-SA-2x">D-SA-2x</span><br />
            <span id="D-SA-2y">D-SA-2y</span><br />
            <span id="D-SA-2z">D-SA-2z</span>
        </span>

        <span class="DSA3">
            <span id="D-SA-3x">D-SA-3x</span><br />
            <span id="D-SA-3y">D-SA-3y</span><br />
            <span id="D-SA-3z">D-SA-3z</span>
        </span>

        <span class="DSA4">
            <span id="D-SA-4x">D-SA-4x</span><br />
            <span id="D-SA-4y">D-SA-4y</span><br />
            <span id="D-SA-4z">D-SA-4z</span>
        </span>


        <span id="D-BD-1" class="DBD1">D-BD-1</span>
        <span id="D-BD-2" class="DBD2">D-BD-2</span>
        <span id="D-BD-3" class="DBD3">D-BD-3</span>
        <span id="D-BD-4" class="DBD4">D-BD-4</span>
        <span id="D-BD-5" class="DBD5">D-BD-5</span>
        <span id="D-BD-6" class="DBD6">D-BD-6</span>
        <span id="D-SP-1" class="DSP1">D-SP-1</span>
        <span id="D-SP-2" class="DSP2">D-SP-2</span>
        <span id="D-SP-3" class="DSP3">D-SP-3</span>
        <span id="D-SP-4" class="DSP4">D-SP-4</span>

        <span id="D-E-1" class="DE1">D-E-1</span>
        <span id="D-E-2" class="DE2">D-E-2</span>
        <span id="D-E-3" class="DE3">D-E-3</span>
        <span id="D-E-4" class="DE4">D-E-4</span>

        <span class="info-icon info-iconDRS1 " id="roadSign1"> 高旺路 </span>
        <span class="info-icon info-iconDRS2 " id="roadSign2"> 新兴一路 </span>
    </div>


</div>

<script type="text/javascript">
    $(document).ready(function ($) {
        var _pop2 = $('#hotspotContainer1').hotSpot({
            slideshow: false,
            triggerBy: 'click',
            autoHide: false
        });
        $('#image2').on('click', function (event) {
            _pop2.hideCurrentPop();
        });

    });
</script>

<script>
    $(function () {
        var numHub = $.connection.displacementDatasRealTimeMonitoringHub;
        numHub.client.realTimeDisplayDatas = function (models) {
            $.each(models, function (i, model) {
                $.each(model.WarningRealTimeData, function (j, DisplacementData) {
                    $("#" + DisplacementData.PointsNumber).html(DisplacementData.PointsNumber + ":&nbsp&nbsp" + DisplacementData.CurrentData);
                    $("#" + DisplacementData.PointsNumber).css("color", DisplacementData.WarningColor);
                });
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.displayWarningDisplacementDatas(4);
        })
    });
</script>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Styles.Render("~/content/hotspotcss")
@Scripts.Render("~/bundles/hotspot")




