<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>钢格构应变实时监测</strong></p>
</div>
<br />

<div style="height:750px">

    <div class="hotspotContainer" id="hotspotContainer1">
        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop1">
            <div class="img-container">
                <img src="~/Content/Images/肋间横梁断面.png" class="section img-responsive carousel-inner img-rounded" />
                <span id="S-ITB-A1" class="SITB1">S-ITB-A1</span>
                <span id="S-ITB-A2" class="SITB2">S-ITB-A2</span>
            </div>
        </div>

        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop2">
            <div class="img-container">
                <img src="~/Content/Images/肋间横梁断面.png" class="section img-responsive carousel-inner  img-rounded" />
                <span id="S-ITB-B1" class="SITB1">S-ITB-B1</span>
                <span id="S-ITB-B2" class="SITB2">S-ITB-B2</span>
            </div>
        </div>

        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop3">
                <div class="img-container">
                    <img src="~/Content/Images/钢横梁断面.png" class="section img-responsive carousel-inner img-rounded" />
                    <span id="S-USCB-A1" class="SUSCB1">S-USCB-A1</span>
                    <span id="S-USCB-A2" class="SUSCB2">S-USCB-A2</span>
                </div>
        </div>

        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop4">
                <div class="img-container">
                    <img src="~/Content/Images/钢横梁断面.png" class="section img-responsive carousel-inner img-rounded" />
                    <span id="S-USCB-B1" class="SUSCB1">S-USCB-B1</span>
                    <span id="S-USCB-B2" class="SUSCB2">S-USCB-B2</span>
                </div>
        </div>

        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop5">
                <div class="img-container">
                    <img src="~/Content/Images/钢纵梁断面.png" class="section img-responsive carousel-inner img-rounded" />
                    <span id="S-USLB-A1" class="SUSLB1">S-USLB-A1</span>
                    <span id="S-USLB-A2" class="SUSLB2">S-USLB-A2</span>
                    <span id="S-USLB-A3" class="SUSLB3">S-USLB-A3</span>
                </div>
        </div>

        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop6">
                <div class="img-container">
                    <img src="~/Content/Images/钢纵梁断面.png" class="section img-responsive carousel-inner img-rounded" />
                    <span id="S-USLB-B1" class="SUSLB1">S-USLB-B1</span>
                    <span id="S-USLB-B2" class="SUSLB2">S-USLB-B2</span>
                    <span id="S-USLB-B3" class="SUSLB3">S-USLB-B3</span>
                </div>
        </div>

        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop7">
                <div class="img-container">
                    <img src="~/Content/Images/刚性系杆断面.png" class="section img-responsive carousel-inner img-rounded" />
                    <span id="S-RTB-AL1" class="SRTB1">S-RTB-AL1</span>
                    <span id="S-RTB-AL2" class="SRTB2">S-RTB-AL2</span>
                    <span id="S-RTB-AL3" class="SRTB3">S-RTB-AL3</span>
                    <span id="S-RTB-AL4" class="SRTB4">S-RTB-AL4</span>
                    <span id="S-RTB-AR1" class="SRTB5">S-RTB-AR1</span>
                    <span id="S-RTB-AR2" class="SRTB6">S-RTB-AR2</span>
                    <span id="S-RTB-AR3" class="SRTB7">S-RTB-AR3</span>
                    <span id="S-RTB-AR4" class="SRTB8">S-RTB-AR4</span>
                </div>
        </div>

        <div class="popover1" data-easein="cardInTop" data-easeout="cardOutTop" id="pop8">
                <div class="img-container">
                    <img src="~/Content/Images/刚性系杆断面.png" class="section img-responsive carousel-inner img-rounded" />
                    <span id="S-RTB-BL1" class="SRTB1">S-RTB-BL1</span>
                    <span id="S-RTB-BL2" class="SRTB2">S-RTB-BL2</span>
                    <span id="S-RTB-BL3" class="SRTB3">S-RTB-BL3</span>
                    <span id="S-RTB-BL4" class="SRTB4">S-RTB-BL4</span>
                    <span id="S-RTB-BR1" class="SRTB5">S-RTB-BR1</span>
                    <span id="S-RTB-BR2" class="SRTB6">S-RTB-BR2</span>
                    <span id="S-RTB-BR3" class="SRTB7">S-RTB-BR3</span>
                    <span id="S-RTB-BR4" class="SRTB8">S-RTB-BR4</span>
                </div>
        </div>


        <span class="info-icon info-iconSLS1" id="section0" data-target="pop1"> 肋间横梁A截面 </span>
        <span class="info-icon info-iconSLS2 " id="section1" data-target="pop2"> 肋间横梁B截面 </span>
        <span class="info-icon info-iconSLS3 " id="section2" data-target="pop3"> 上层钢横梁A截面 </span>
        <span class="info-icon info-iconSLS4 " id="section3" data-target="pop4"> 上层钢横梁B截面 </span>
        <span class="info-icon info-iconSLS5 " id="section4" data-target="pop5"> 上层钢纵梁A截面 </span>
        <span class="info-icon info-iconSLS6 " id="section5" data-target="pop6"> 上层钢纵梁B截面 </span>
        <span class="info-icon info-iconSLS7 " id="section6" data-target="pop7"> 刚性系杆A截面 </span>
        <span class="info-icon info-iconSLS8 " id="section7" data-target="pop8"> 刚性系杆B截面 </span>

        <img src="~/Content/Images/钢格构应变实时监测立面图.png" alt="" class="largeimage" id="image2" />
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function ($) {
        var _pop2 = $('#hotspotContainer1').hotSpot({
            slideshow: false,
            triggerBy: 'click',
            autoHide: false
        });
        $('#image2').on('click', function (event) {
            _pop2.hideCurrentPop();
        });

    });
</script>

<script>
    $(function () {
        var numHub = $.connection.steelLatticeStrainDatasRealTimeMonitoringHub;
        numHub.client.realTimeDisplayDatas = function (models) {
            $.each(models, function (i, model) {
                $.each(model.WarningRealTimeData, function (j, strainData) {
                    $("#" + strainData.PointsNumber).html(strainData.PointsNumber + ":&nbsp&nbsp" + strainData.CurrentData + "με");
                    $("#" + strainData.PointsNumber).css("color", strainData.WarningColor);
                });
                $("#" + "section" + i).css("color", model.SectionWarningColor);
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.displayWarningSteelLatticeStrainDatas(2);
        })
    });
</script>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Styles.Render("~/content/hotspotcss")
@Scripts.Render("~/bundles/hotspot")


