<div class="pageTitleDiv">
    <p class="lead pageTitleFont glyphicon glyphicon-chevron-right"><strong>温度实时监测</strong></p>
</div>
<br />

@{
    ViewBag.Title = "TemperatureDatasRealTimeMonitoring";
}

<div style="height:500px">


    <div class="img-container">
        <img src="~/Content/Images/温湿度监测立面图及测点图.png" class="section img-responsive carousel-inner img-rounded" />
        <span id="T-E-1" class="HE1">T-E-1</span>
        <span id="T-SA-L1" class="HSAL1">T-SA-L1</span>
        <span id="T-SA-L2" class="HSAL2">T-SA-L2</span>
        <span id="T-SA-L3" class="HSAL3">T-SA-L3</span>
        <span id="T-SA-L4" class="HSAL4">T-SA-L4</span>
        <span id="T-SA-R1" class="HSAR1">T-SA-R1</span>
        <span id="T-SA-R2" class="HSAR2">T-SA-R2</span>
        <span id="T-SA-R3" class="HSAR3">T-SA-R3</span>
        <span id="T-SA-R4" class="HSAR4">T-SA-R4</span>

        <span class="info-icon info-iconTRS1 " id="roadSign1"> 高旺路 </span>
        <span class="info-icon info-iconTRS2 " id="roadSign2"> 新兴一路 </span>

    </div>
</div>

<script>
    $(function () {
        var numHub = $.connection.temperatureDatasRealTimeMonitoringHub;
        numHub.client.realTimeDisplayDatas = function (models) {
            $.each(models, function (i, model) {
                $.each(model.WarningRealTimeData, function (j, TemperatureData) {
                    $("#" + TemperatureData.PointsNumber).html(TemperatureData.PointsNumber + ":&nbsp&nbsp" + TemperatureData.CurrentData + "℃");
                    $("#" + TemperatureData.PointsNumber).css("color", TemperatureData.WarningColor);
                });
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.displayWarningTemperatureDatas(7);
        })
    });
</script>


@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
}

@Styles.Render("~/content/hotspotcss")
