@model GxjtBHMS.Web.ViewModels.SafetyAssessmentReportView.SafetyAssessmentReportViewModel

<tr class="text-center">
    <td>
        @Html.TextBoxFor(m => m.ReportName, new { @class = "text-center", @style = "border:hidden" })
    </td>

    <td>
        @Html.TextBoxFor(m =>m.ReportTime, new { @class = "text-center", @style = "border:hidden" })
    </td>
    <td>
        <input class="form-control" style="border:hidden" type="button" onclick="viewReport(this, '/FirstLevelSafetyAssessment/ViewReport')" operate="view" value="查看报告" />
    </td>
    <td>
        <input class="form-control"style="border:hidden" type="button" id="FirstLevelSafetyAssessmentReportDownLoad" value="下载报告" />
        <input class="form-control"style="border:hidden" type="button" onclick="downloadReport(this, '/FirstLevelSafetyAssessment/DownloadReport')" operate="download" value="下载报告" />
    </td>

</tr>

@Html.AntiForgeryToken()


