@model GxjtBHMS.Web.ViewModels.SafetyAssessmentReportView.SafetyAssessmentReportSearchBaseView

@*<div>
    <label for="Monthpicker" class="control-label">
        报告生成月份：
        @Html.TextBoxFor(m => m.Time, new { style = "width:220px", id = "Monthpicker", @class = "selectpicker" })
    </label>
    <input type="button" id="bttnquery" value="查询" class="btn btn-primary btn-sm col-md-offset-1" />
</div>*@

<form class="form-horizontal" role="form">
    <fieldset>
        <legend style="font-size:medium"><label class="glyphicon glyphicon-search"> 查询条件&raquo</label></legend>
        <div class="form-group form-inline">
            &nbsp;&nbsp;&nbsp;<label for="Monthpicker">报告生成月份:</label>
            @Html.TextBoxFor(m => m.Time, new { style = "width:220px", id = "Monthpicker", @class = "form-control" })
            <input type="button" id="bttnquery" value="查询" class="btn btn-primary btn-sm col-md-offset-1" />
        </div>
    </fieldset>
</form>