@{
    ViewBag.Title = "Errors";
}

<div>
    <hgroup>
        <h1>错误。</h1>
        <h2>处理你的请求时出错。</h2>
    </hgroup>
</div>
<a href="_Layout.cshtml">&nbsp点击退出</a>
<a href="UserLogin.cshtml">&nbsp点击返回主页</a>
