
@{
    ViewBag.Title = "ServerError";
    Layout = "~/Views/Errors/_ErrorsLayout.cshtml";
}


<div style="text-align:center">
    <img src="~/Content/Images/500.png" />
</div>


<div style="text-align:center">
    <a href="/Home/Index" style="text-align:center;padding:8px;border:1px solid #96c2f1;background:#eff7ff">返回首页</a>
    <span>&nbsp  &nbsp &nbsp &nbsp  </span>
    <a href="/User/Login" style="text-align:center;padding:8px;border:1px solid #96c2f1;background:#eff7ff">重新登录</a>
</div>
