@{
    ViewBag.Title = "服务错误页面";
    Layout = null;
}

<div>
    <hgroup>
        <h1>错误。</h1>
        <h2>处理你的请求时出错。</h2>
    </hgroup>
</div>
@Html.ActionLink("返回首页","Index","Home");
@Html.ActionLink("重新登录","Login","User")