
<!--图表显示开始-->
<div id="chart1" style="width:100%"></div>
<hr />
<hr />
@*<div id="chart2" style="width:100%"></div>
<hr />
<hr />
<div id="chart3" style="width:100%"></div>*@
<!--图标显示结束-->

<script>
    $(function(){
        //初始化分页导航条
        initChart();
    });
</script>

<script src="~/Scripts/dataComparingQuery-SearchContentPartial-website.js"></script>
