@model MornitoringDataSearchBarBaseView

<div class="form-group searchContent">
    <label for="mornitorTestTypeSelect" class="control-label"> 测试类型：</label>
    @Html.DropDownListFor(m => m.MornitoringTestTypeId, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringTestTypesKey],
            new { id = "mornitorTestTypeSelect", @class = "selectpicker" })

    <label for="monitorTestPointsPositionSelect" class="control-label  col-md-offset-1">        测点位置：    </label>
    @Html.DropDownListFor(m => m.MornitoringPointsPositionId, (IEnumerable<SelectListItem>)ViewData[WebConstants.MonitoringPointsPositionKey],
      new { id = "monitorTestPointsPositionSelect", @class = "selectpicker" })

</div>

<div class="form-group searchContent">
    <label for="datetimepickerStart" class="control-label">
        开始时间：
        @Html.TextBoxFor(m => m.StartTime, new { style = "width:220px", id = "datetimepickerStart", @class = "selectpicker" })
    </label>
    <label for="datetimepickerEnd" class="control-label col-md-offset-1">
        结束时间:
        @Html.TextBoxFor(m => m.EndTime, new { style = "width:220px", id = "datetimepickerEnd", @class = "selectpicker" })
    </label>
    <input type="button" id="btnquery" value="查询" class="btn btn-default col-md-offset-1" />
    <input type="button" id="allBtnquery" value="全部查询" class="btn btn-default col-md-offset-1" />
</div>

<hr />


