<div id="Nomessage"><span style='color:@TempData[WebConstants.MessageColor]'>@TempData[WebConstants.MessageKey]</span></div>

<script>
   $( function(){
       if ($("#Nomessage").length>=0) {
           $("#message").css("display", "none")
           $("#paginationNav").css("display", "none")
           $("#dataQuery").css("display", "none")
       } 
    })
</script>
