

<div>
     <label class="control-label" style="font-family:STSong; font-size:20px"> 桥梁当前安全预警状况：</label>
    <span id="bridgeStateText" style="font-family:STSong;font-size:20px;width:100px">桥梁安全状态</span>
    <span id="bridgeStateColor" class="circle"></span>

    <label class="control-label col-lg-offset-1"  style="font-family:STSong; font-size:20px"> 上一次安全评估时间：</label>
    @Html.TextBox("LastReportTime", ViewData["LastReportTime"], new { @class = "text-center", @style = "border:hidden;font-size:20px" })
</div>
<hr >
<div >
    <label class="control-label" style="font-family:STSong;font-size:20px"> 桥梁当前索力预警状况：</label>
    <span id="testType1Text" style="font-family:STSong;font-size:20px;width:100px"></span>
    <span id="testType1Color" class="circle"></span>
    <label class="control-label col-lg-offset-1" style="font-family:STSong;font-size:20px"> 本期安全评估黄色报警次数：</label>
    <span id="grade2Times_testType1" style="font-size:20px;width:50px"></span>
    <label class="control-label col-lg-offset-1" style="font-family:STSong;font-size:20px"> 本期安全评估红色报警次数：</label>
    <span id="grade3Times_testType1" style="font-size:20px;width:50px"></span>
    <input type="button" value="点击查看本期安全评估详情" id="CableForceWarningDetail" class="control-label col-lg-offset-1">
</div>
<hr class=dotline color=#111111 size=1>
<div>
    <label class="control-label" style="font-family:STSong;font-size:20px"> 桥梁当前位移预警状况：</label>
    <span id="testType2Text" style="font-family:STSong;font-size:20px;width:100px"></span>
    <span id="testType2Color" class="circle1"></span>
    <label class="control-label col-lg-offset-1" style="font-family:STSong;font-size:20px"> 本期安全评估黄色报警次数：</label>
    <span id="grade2Times_testType2" style="font-size:20px;width:50px"></span>
    <label class="control-label col-lg-offset-1" style="font-family:STSong;font-size:20px"> 本期安全评估红色报警次数：</label>
    <span id="grade3Times_testType2" style="font-size:20px;width:50px"></span>
    <input type="button" value="点击查看本期安全评估详情" id="DisplacementWarningDetail" class="control-label col-lg-offset-1">
</div>
<hr class=dotline color=#111111 size=1>
<div>
    <label class="control-label" style="font-family:STSong;font-size:20px"> 桥梁当前风速预警状况：</label>
    <span id="testType3Text" style="font-family:STSong;font-size:20px;width:100px"></span>
    <span id="testType3Color" class="circle1"></span>
    <label class="control-label col-lg-offset-1" style="font-family:STSong;font-size:20px"> 本期安全评估黄色报警次数：</label>
    <span id="grade2Times_testType3" style="font-size:20px;width:50px"></span>
    <label class="control-label col-lg-offset-1" style="font-family:STSong;font-size:20px"> 本期安全评估红色报警次数：</label>
    <span id="grade3Times_testType3" style="font-size:20px;width:50px"></span>
    <input type="button" value="点击查看本期安全评估详情" id="WindLoadWarningDetail" class="control-label col-lg-offset-1">
</div>
<hr class=dotline color=#111111 size=1>
<div >
    <label class="control-label" style="font-family:STSong;font-size:20px"> 桥梁当前温度预警状况：</label>
    <span id="testType4Text" style="font-family:STSong;font-size:20px;width:100px"></span>
    <span id="testType4Color" class="circle1"></span>
    <label class="control-label col-lg-offset-1"style="font-family:STSong;font-size:20px"> 本期安全评估黄色报警次数：</label>
    <span id="grade2Times_testType4" style="font-size:20px;width:50px"></span>
    <label class="control-label col-lg-offset-1"style="font-family:STSong;font-size:20px"> 本期安全评估红色报警次数：</label>
    <span id="grade3Times_testType4" style="font-size:20px;width:50px"></span>
    <input type="button" value="点击查看本期安全评估详情" id="TemperatureWarningDetail" class="control-label col-lg-offset-1">
</div>
<hr />

<script>
    $(function () {
        var numHub = $.connection.safetyPreWarningHub;
        numHub.client.safetyWarningStateRealTimePushDatas = function (models)
        {
            $("#bridgeStateText").html(models.SafetyPreWarningState);
            $("#bridgeStateColor").css("background-color", models.SafetyPreWarningColor);
            $.each(models.SafetyPreWarningStateData, function (i, model) {
                $("#" + "testType" + model.TestTypeId+"Text").html(model.SafetyPreWarningState);
                $("#" + "testType" + model.TestTypeId+"Color").css("background-color", model.SafetyPreWarningColor);
                $("#" + "grade2Times_testType" + model.TestTypeId).html(model.WarningGrade2Times);
                $("#" + "grade3Times_testType" + model.TestTypeId).html(model.WarningGrade3Times);
            });
        }
        $.connection.hub.start().done(function () {
            numHub.server.bridgeSafetyPreWarningStateDisplay();
        })
    });

</script>




@Styles.Render("~/content/hotspotcss")
@Scripts.Render("~/bundles/hotspot")