<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*写明脚本的版本，一旦版本有变化是有隐患的*@
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/system.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <style type="text/css">
        html, body {
            height: 100%;
        }

        .box {
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6699FF', endColorstr='#6699FF'); /*  IE */
            /*background-image: linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -o-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -moz-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -webkit-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);
            background-image: -ms-linear-gradient(bottom, #6699FF 0%, #6699FF 100%);*/
            background-image: url("/Content/Images/西江四桥.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            margin: 0px auto;
            /*border:double;*/
            position: relative;
            width: 80%;
            height: 60%;
        }

        .bord {
            height: 100px;
        }

        .login-box {
            width: 100%;
            max-width: 500px;
            height: 300px;
            position: absolute;
            top: 40%;
            left: 70%;
            margin-top: -200px;
            /*设置负值，为要定位子盒子的一半高度*/
        }

        .form {
            width: 90%;
            max-width: 500px;
            height: 200px;
            margin: 20px auto 0px auto;
            padding-top: 20px;
            text-align: center;
        }

        .login-content {
            height: 200px;
            width: 85%;
            max-width: 500px;
            background-color: rgba(255, 250, 2550, .6);
            float: left;
        }



        .login-title {
            width: 85%;
            padding: 10px 10px;
            background-color: rgba(0, 0, 0, .6);
        }

            .login-title h1 {
                margin-top: 10px !important;
                color: #808080;
                font-family: KaiTi;
                text-shadow: #ffffff 10px 5px 10px;
                text-align: center;
            }

            .login-title small {
                color: #fff;
            }
    </style>
</head>
<body>
    <div class="bord"></div>
    <div class="box">
        <div class="login-box">
            <div class="login-title text-center">
                <h1><small>梧州西江四桥健康监测系统登录</small></h1>
            </div>
            <div class="login-content ">
                <div class="form">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
    <br />
    <div class="footer" style="text-align:center">
        <div class="footer-inner">
            <div class="footer-inner-a">
                <a href="javascript:;" class="footer-a about">关于我们</a>
                <a href="javascript:;" class="footer-a contact">联系我们</a>
                <a href="javascript:;" class="footer-a shengming">法律声明</a>
                <a href="javascript:;" class="footer-a lianjie">友情链接</a>
            </div>
            <div>
                <p>广西交通规划勘察设计研究院有限公司 版权所有&copy; @DateTime.Now.Year - 梧州市西江四桥健康监测系统V1.0</p>
            </div>
        </div>
    </div>
</body>
</html>
